* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.btn {
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;

}

.container {
    width: 80%;
    margin: auto;
}

/* header section */
header {}

.navbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo h1 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;

}

.nav {}

.nav ul {
    display: flex;
}

.nav ul li {
    margin-left: 30px;
}

.nav ul li a {
    color: #3A3A3A;
    font-size: 16px;
}

/* banner section */
.banner {
    margin-top: 50px;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    flex-basis: 45%;
}

.banner-text h1 {
    color: #3A3A3A;
    font-size: 35px;
    font-weight: 900;

}

.banner-text p {
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 15px;


}

.banner-text a {}

.banner-img {
    background-image: url(./images/Circle\ design.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 45%;
}

.banner-img img {
    width: 100%;
}

/* sponser section */
.sponser {
    margin-top: 50px;
    margin-bottom: 100px;
}

.sponser-content {
    display: flex;
    justify-content: space-between;
}

.sponser-logo {}

.sponser-logo img {}

/* .collection section */
.collection {
    margin-bottom: 100px;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.title h1 {
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;

}

.collection-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collection-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex-basis: 30%;
    margin-bottom: 31px;
    padding: 14px 0px 0px 14px;
    border-radius: 8px;
}

.collection-card img {
    width: 94%;
}

.collection-card h3 {
    color: #18191F;
    font-size: 23px;
    font-weight: 400;
    margin: 8px 0;

}

.collection-card h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
}

.collection-card p {
    color: #787885;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.252px;
    margin-bottom: 15px;
}

.star {
    color: #FB8200;
    margin-bottom: 6px;
}

.star .fa-star {}

/* feature section */
.feature {}

.feature-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-img {
    flex-basis: 45%;
}

.feature-img img {
    width: 100%;
}

.feature-text {
    flex-basis: 45%;
}

.feature-text h1 {
    color: #3A3A3A;
    font-size: 35px;
    font-weight: 900;
}

.feature-text p {
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 15px;
}

.feature-text a {}

/* footer section */
footer {
    margin-top: 100px;
    background: #0A0826;
    padding: 50px 0;
}

.footer {
    text-align: center;
    color: white;
}

.footer h1 {

    font-size: 35px;
    font-weight: 900;
}

.footer p {
    font-size: 14px;
    font-weight: 500;

    margin-top: 15px;
}

.footer .fa-brands {
    margin-top: 30px;
    margin: 20px;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 50%;
}






/* responsive section */
@media(max-width:576px) {
    .banner-content {
        flex-direction: column;
    }

    .collection-content {
        flex-direction: column;
    }

    .feature-content {
        flex-direction: column-reverse;
    }

    .sponser-content {
        text-align: center;
        flex-direction: column;
    }

    .sponser-logo img {
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
    }

    .logo h1 {
        color: #3A3A3A;
        font-size: 24px;
        font-weight: 700;

    }

    .logo h1 {
        margin-bottom: 20px;
        margin-top: 20px;

    }
}